select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
}

.loading {
  color: black;
  animation: pulse 0.8s ease infinite alternate;
}
@keyframes pulse {
  0%, 100% {
    color: black;
  }
  50% {
    color: lightgray;
  }
}
